  admin.email.from.address=gfoi@enviroaccounts.com
  admin.email.from.name=GFOI Administrator
# asset.entry.increment.view.counter.enabled=true
# blogs.ping.google.enabled=false
# blogs.pingback.enabled=false
# blogs.trackback.enabled=false
  cluster.link.enabled=true
# com.liferay.portal.servlet.filters.sso.cas.CASFilter=false
# com.liferay.portal.servlet.filters.sso.ntlm.NtlmFilter=false
# com.liferay.portal.servlet.filters.sso.ntlm.NtlmPostFilter=false
# com.liferay.portal.servlet.filters.sso.opensso.OpenSSOFilter=false
# com.liferay.portal.servlet.filters.validhtml.ValidHtmlFilter=false
# com.liferay.portal.sharepoint.SharepointFilter=false
# com.liferay.portal.upload.UploadServletRequestImpl.max.size=504857600
  company.default.locale=en_US
  company.default.time.zone=Europe/Lisbon
# company.default.web.id=enviroaccounts.com
# company.login.prepopulate.domain=false
# company.security.auth.requires.https=true
# company.security.auth.type=emailAddress
# company.security.auto.login=true
# company.security.login.form.autocomplete=true
# company.security.send.password.reset.link=true
# company.security.send.password=true
# company.security.site.logo=true
# company.security.strangers.verify=false
# company.security.strangers.with.mx=false
# company.security.strangers=true
# counter.increment=2000
# default.admin.email.address.prefix=liferay_test
# default.landing.page.path=/frontpage
# default.logout.page.path=/frontpage
# direct.servlet.context.reload=false
# dl.file.entry.previewable.processor.max.size=104857600
# dl.file.entry.read.count.enabled=true
# dl.file.entry.thumbnail.max.height=128
# dl.file.entry.thumbnail.max.width=128
# dl.file.extensions=*
# dl.file.max.size=0
# dl.file.rank.enabled=true
  dl.store.impl=com.liferay.portal.store.file.system.AdvancedFileSystemStore
# field.enable.com.liferay.portal.model.Contact.birthday=false
# field.enable.com.liferay.portal.model.Contact.male=false
# index.filter.search.limit=2000
# index.search.limit=2000
# javascript.fast.load=true
  jdbc.default.driverClassName=org.postgresql.Driver
  jdbc.default.idleConnectionTestPeriod=0
  jdbc.default.liferay.pool.provider=tomcat
  jdbc.default.password=undertaken by the architect
  jdbc.default.preferredTestQuery=SELECT releaseId FROM Release_
  jdbc.default.validationQuery=SELECT releaseId FROM Release_
  jdbc.default.url=jdbc:postgresql://liferaydb:5432/liferay
  jdbc.default.username=liferaydb
# journal.image.extensions=.gif,.jpeg,.jpg,.png
# journal.image.small.max.size=51200
# layout.parallel.render.timeout=30000
# layout.show.portlet.access.denied=false
# layout.user.private.layouts.enabled=false
# layout.user.public.layouts.enabled=false
  liferay.home={{ liferay_home }}
  locales.enabled=en_US,fr_FR,es_ES
  locales=en_US,fr_FR,es_ES
# lucene.buffer.size=16
# lucene.commit.batch.size=10
# lucene.commit.time.interval=5000
# lucene.replicate.write=true
# mail.session.mail.pop3.host=localhost
# mail.session.mail.pop3.password=
# mail.session.mail.pop3.port=110
# mail.session.mail.pop3.user=
# mail.session.mail.smtp.auth=false
# mail.session.mail.smtp.host=localhost
# mail.session.mail.smtp.password=
# mail.session.mail.smtp.port=25
# mail.session.mail.smtp.user=
# mail.session.mail.store.protocol=pop3
# mail.session.mail.transport.protocol=smtp
# message.boards.pingback.enabled=false
  module.framework.properties.lpkg.index.validator.enabled=false
  module.framework.properties.osgi.console=0.0.0.0:11311
# open.id.auth.enabled=false
# sc.image.max.size=307200
# sc.image.thumbnail.max.height=200
# sc.image.thumbnail.max.width=160
# session.enable.phishing.protection=false
# session.tracker.memory.enabled=false
  setup.wizard.enabled=false
# theme.css.fast.load=true
# theme.images.fast.load=true
# theme.porlet.sharing.default=true
# theme.portlet.decorate.default=true
# users.image.max.size=307200
# users.screen.name.always.autogenerate=true
  web.server.display.node=true
# web.server.http.port=80
# web.server.https.port=443
# web.server.protocol=https
